@model sesion01.Models.Device

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Device</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.unam_stock_number)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.unam_stock_number)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.serial_number)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.serial_number)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Location.department)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Location.department)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.id_device }) |
    @Html.ActionLink("Back to List", "Index")
</p>
